{% extends "base.html" %}
{% block title %}
<title>All Orders</title>
{% endblock %}

{% block content %}
<div>
    <table cellspacing="40" style="width: 100%;">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Marketplace Name</th>
                <th>Shipaddress</th>
                <th>Order Date</th>
                <th>Order Time</th>
                <th>Customer Name</th>
                <th>Cargo Company</th>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            {% for subitem in item %}
            <td>{{ subitem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}