{% extends "base.html" %}
{% block title %}
<title>cargo</title>
{% endblock %}
{% block content %}

<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label >Cargo company</label>
        <input class="form-control" type="text" name="cargo_company" value="{{data[0][1]}}">
    </div>
</div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label >Cargo Adress</label>
        <input class="form-control" type="text" name="cargo_address" value="{{data[0][2]}}">
    </div>
</div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label >Cargo Price Per Kg</label>
        <input class="form-control" type="text" name="cargo_price" value="{{data[0][3]}}">
    </div>
</div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label >Cargo TaxID</label>
        <input class="form-control" type="text" name="cargo_taxid" value="{{data[0][4]}}">
    </div>
</div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label >Cargo Authority</label>
        <input class="form-control" type="text" name="cargo_authority" value="{{data[0][5]}}">

            </div>
        </div>
        <input class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% endblock %}