{% extends "base.html" %}
{% block title %}
<title>Employee</title>
{% endblock %}
{% block content %}

<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Name</label>
                <input class="form-control" type="text" name="employee_name" value="{{data[0][1]}}"><br>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Surname</label>
                <input class="form-control" type="text" name="employee_surname" value="{{data[0][2]}}"><br>

            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Phone Number</label>
                <input class="form-control" type="text" name="employee_phonenumber" value="{{data[0][3]}}"><br>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee E-mail</label>
                <input class="form-control" type="text" name="employee_email" value="{{data[0][4]}}"><br>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Working Hour Start</label>
                <select class="form-control" name="employee_workinghour1">
                    <option selected value="{{(data[0][5][0]/60)|int}}">{{(data[0][5][0]/60)|int}}</option>
                    {% for n in range(24) %}
                    <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Working Hour End</label>
                <select class="form-control" name="employee_workinghour2">
                    <option selected value="{{(data[0][5][1]/60)|int}}">{{(data[0][5][1]/60)|int}}</option>
                    {% for n in range(24) %}
                    <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select><br>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Employee Working Days</label><br>
                <input type="checkbox" name="employee_workingday1" value="1" {% if 1 in data[0][6]%} checked
                    {%else%}{%endif%}>Monday<br>
                <input type="checkbox" name="employee_workingday2" value="2" {% if 2 in data[0][6]%} checked
                    {%else%}{%endif%}>Tuesday<br>
                <input type="checkbox" name="employee_workingday3" value="3" {% if 3 in data[0][6]%} checked
                    {%else%}{%endif%}>Wednesday<br>
                <input type="checkbox" name="employee_workingday4" value="4" {% if 4 in data[0][6]%} checked
                    {%else%}{%endif%}>Thursday<br>
                <input type="checkbox" name="employee_workingday5" value="5" {% if 5 in data[0][6]%} checked
                    {%else%}{%endif%}>Friday<br>
                <input type="checkbox" name="employee_workingday6" value="6" {% if 6 in data[0][6]%} checked
                    {%else%}{%endif%}>Saturday<br>
                <input type="checkbox" name="employee_workingday7" value="7" {% if 7 in data[0][6]%} checked
                    {%else%}{%endif%}>Sunday<br>
            </div>
        </div>

        <input class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% endblock %}