{% extends "base.html" %}
{% block title %}
<title>Employee</title>
{% endblock %}
{% block content %}
<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Name</label>
        <input class="form-control" type="text" name="employee_name" value="{{employee_name}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Surname</label>
        <input class="form-control" type="text" name="employee_surname" value="{{employee_surname}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Phone Number</label>
        <input class="form-control" type="text" name="employee_phonenumber" value="{{employee_phonenumber}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee E-mail</label>
        <input class="form-control" type="text" name="employee_email" value="{{employee_email}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Working Hour Start</label>
        <select class="form-control" name="employee_workinghour1">
            {% for n in range(24) %}
            <option value="{{n}}">{{n}}</option>
            {% endfor %}
        </select>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Working Hour End</label>
        <select class="form-control" name="employee_workinghour2">
            {% for n in range(24) %}
            <option value="{{n}}">{{n}}</option>
            {% endfor %}
        </select><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Employee Working Days</label><br>
        <input type="checkbox" name="employee_workingday1" value="1">Monday<br>
        <input type="checkbox" name="employee_workingday2" value="2">Tuesday<br>
        <input type="checkbox" name="employee_workingday3" value="3">Wednesday<br>
        <input type="checkbox" name="employee_workingday4" value="4">Thursday<br>
        <input type="checkbox" name="employee_workingday5" value="5">Friday<br>
        <input type="checkbox" name="employee_workingday6" value="6">Saturday<br>
        <input type="checkbox" name="employee_workingday7" value="7">Sunnday<br>
        </div></div>
        <input class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% endblock %}