{% extends "base.html" %}
{% block title %}
<title>Homepage -test</title>
{% endblock %}
{% block content %}
<div>
    <form method='POST'>
        <input type="submit" name="submit_button" value="Marketplace Add">
        <input type="submit" name="submit_button" value="Marketplace List">
        <input type="submit" name="submit_button" value="Provider Add">
        <input type="submit" name="submit_button" value="Provider List">
        <input type="submit" name="submit_button" value="Employee Add">
        <input type="submit" name="submit_button" value="Employee List">
        <input type="submit" name="submit_button" value="Cargo Company Add">
        <input type="submit" name="submit_button" value="Cargo Company List">
        <input type="submit" name="submit_button" value="Product Add">
        <input type="submit" name="submit_button" value="Product List">
        <input type="submit" name="submit_button" value="Supply Add">
        <input type="submit" name="submit_button" value="Supply List">
    </form>

</div>
{% endblock %}