{% extends "base.html" %}
{% block title %}
<title>Marketplace</title>
{% endblock %}
{% block content %}

<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace name</label>
                <input class="form-control" type="text" name="market_name" value="{{data[0][1]}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace Adress</label>
                <input class="form-control" type="text" name="market_address" value="{{data[0][2]}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace Authority</label>
                <input class="form-control" type="text" name="market_authority" value="{{data[0][3]}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace Phone number</label>
                <input class="form-control" type="text" name="market_phonenumber" value="{{data[0][4]}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace TaxID</label>
                <input class="form-control" type="text" name="market_taxid" value="{{data[0][5]}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Marketplace Commission Fee</label>
                <input class="form-control" type="text" name="market_commission" value="{{data[0][6]}}">
            </div>
        </div>
        <input class="form-control" type="submit" name="submit_button" value="Submit">
    </form>
</div>
{% endblock %}