{% extends "base.html" %}
{% block title %}
<title>Marketplace</title>
{% endblock %}
{% block content %}
<div>
    <form method='POST'>
        Current data:
        <table>
            <thead>
                <tr>
                    <th>Selection</th>
                    <th>id</th>
                    <th>name</th>
                    <th>address</th>
                    <th>authority</th>
                    <th>number</th>
                    <th>taxid</th>
                    <th>comission</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td><input type="radio" name="options" value="{{ item[0] }}"></input><br></td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <label>Marketplace name</label>
        <input type="text" name="market_name" value="{{market_name}}">
        <label>Marketplace Adress</label>
        <input type="text" name="market_address" value="{{market_address}}">
        <label>Marketplace Authority</label>
        <input type="text" name="market_authority" value="{{market_authority}}">
        <label>Marketplace Phone number</label>
        <input type="text" name="market_phonenumber" value="{{market_phonenumber}}">
        <label>Marketplace TaxID</label>
        <input type="text" name="market_taxid" value="{{market_taxid}}">
        <label>Marketplace Commission Fee</label>
        <input type="text" name="market_commission" value="{{market_commission}}">
        <input type="submit" name="submit_button" value="Submit">
    </form>
</div>
{% endblock %}