{% extends "base.html" %}
{% block title %}
<title>Order</title>
{% endblock %}
{% block content %}
<div>
  
    <table>
        <thead>
            <tr>
                
                <th>Item Name:</th>
                <th>{{ data[0][0][2] }} - {{ data[0][0][1] }}</th>
            </tr>
        </thead>
    </table>
</div>
{% if data %}
<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Marketplace</label>
        <select class="form-control" name="market_id">
            {% for item in data[1][0] %}
                <option value="{{item[0]}}">{{item[1]}}</option>
            {% endfor %}
        </select><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Cargo Company</label>
        <select class="form-control" name="cargo_id">
            {% for item in data[2][0] %}
                <option value="{{item[0]}}">{{item[1]}}</option>
            {% endfor %}
        </select><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Address</label>
        <input class="form-control" type="text" name="order_address" value="{{order_address}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Customer Name</label>
        <input class="form-control" type="text" name="customer_name" value="{{customer_name}}"><br>
    </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Quantity</label>
        
        <input class="form-control" type="text" name="order_quantity" id="1"value="{{order_quantity}}">
        <label>Unit Price</label>
        <input disabled class="form-control" type="text" id="2" value="{{data[0][0][3]}}">





            </div></div>
        <input class="form-control" type="submit" name="submit_button" value="Order">
    </form>
    
</div>
{% endif %}
{% endblock %}