{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock %}
{% block content %}
<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name="product_id" value="{{product_id}}">
            </div>
        </div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
                <label>Product name</label>
                <input class="form-control" type="text" name="product_name" value="{{product_name}}">
            </div>
        </div>
        <input class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% if data %}
<div>
    <form method='POST'>
        <table>
            <thead>
                <tr>
                    <th>Selection</th>
                    <th>id</th>
                    <th>name</th>
                    <th>brand</th>
                    <th>sell price</th>
                    <th>provider</th>
                    <th>weight</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td><input type="radio" name="options" value="{{ item[0] }}"></input><br></td>
                    {% for subitem in item %}
                    <td>{{ subitem }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="submit_button" value="Delete Selected">
        <input type="submit" name="submit_button" value="Edit Selected">
    </form>
</div>
{% endif %}
{% endblock %}