{% extends "base.html" %}
{% block title %}
<title>Products</title>
{% endblock %}
{% block content %}
<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Product Name</label>
        <input class="form-control" type="text" name="product_name" value="{{product_name}}">
                </div>
            </div>

        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Product Brand</label>
        <input class="form-control" type="text" name="product_brand" value="{{product_brand}}">
    </div>
</div>

        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Sell Price</label>
        <input class="form-control" type="text" name="product_sellprice" value="{{product_sellprice}}">
    </div>
</div>

        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Provider</label>
        <select class="form-control" name="provider_id">
            {% for item in data %}
            
                <option value="{{item[0]}}">{{item[1]}}</option>
            
            {% endfor %}
          </select>
        </div>
    </div>

          <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Prduct Weight</label>
        <input class="form-control" type="text" name="product_weight" value="{{product_weight}}">

    </div>
</div>

<input class="form-control" class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% endblock %}