{% extends "base.html" %}
{% block title %}
<title>Provider</title>
{% endblock %}
{% block content %}
<div class="row">
    <form method='POST' style="width: 100%;">
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Provider ID</label>
        <input class="form-control" type="text" name="provider_id" value="{{provider_id}}">
        </div></div>
        <div class="col-lg-3 col-sm-4">
            <div class="form-group">
        <label>Provider company</label>
        <input class="form-control" type="text" name="provider_company" value="{{provider_company}}">
    </div></div>

    <input class="form-control" type="submit" name="submit_button" value="Submit" style="width:30%;">
    </form>
</div>
{% if data %}
<div>
    <form method='POST'>
        <table>
            <thead>
                <th>Selection</th>
                <th>Provider ID</th>
                <th>Provider Company</th>
                <th>Provider Address</th>
                <th>Provider Phone Number</th>
                <th>Provider TaxID</th>
                <th>Provider Authority</th>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td><input type="radio" name="options" value="{{ item[0] }}"></input><br></td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="submit_button" value="Delete Selected">
        <input type="submit" name="submit_button" value="Edit Selected">
    </form>
</div>
{% endif %}
{% endblock %}