{% extends "base.html" %}
{% block title %}
<title>Supply Order</title>
{% endblock %}
{% block content %}
<div>
    <form method='POST'>
        <label>Order ID</label>
        <input type="text" name="supply_id" value="{{supply_id}}">
        <label>Product</label>
        <select name="product_id">
            <option value=""> -- select an option -- </option>
            {% for item in data[1][0] %}
            <option value="{{item[0]}}">{{item[1]}} - {{item[2]}}</option>
            {% endfor %}
        </select>
        <label>Provider</label>
        <select name="provider_id">
            <option value=""> -- select an option -- </option>
            {% for item in data[0][0] %}
            <option value="{{item[0]}}">{{item[1]}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit_button" value="Submit">
    </form>
</div>
{% if data[2] %}
<div>
    <form method='POST'>
        <table>
            <thead>
                <th>Selection</th>
                <th>Order ID</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Time</th>
                <th>Company</th>
                <th>Supply Item</th>
            </thead>
            <tbody>
                {% for item in data[2][0] %}
                <tr>
                    <td><input type="radio" name="options" value="{{ item[0] }}"><br></td>
                    {% for subitem in item %}
                    <td>{{ subitem }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="submit_button" value="Delete Selected">
        <input type="submit" name="submit_button" value="Edit Selected">
    </form>
</div>
{% endif %}
{% endblock %}