{% extends "base.html" %}
{% block title %}
<title>View Finance</title>
{% endblock %}

{% block content %}
<div>
    <table cellspacing="40" style="width: 100%;">
        <thead>
            <tr>
                <th>id</th>
                <th>Order</th>
                <th>Supply Order</th>
                <th>Transaction</th>
                <th>Cargo Price</th>
                <th>Total</th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            {% for subitem in item %}
            <td>{{ subitem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}